<div class="pcard__info">
              <span class="tag">Supermarket Refrigeration</span>
              <h3 class="h-4">Panda Market El Madinah</h3>
              <p>We Know that new and fresh things are born from time &amp; space, as well as process.  You can join in, and say “bye,bye,bye” to the dull tasks.</p>
              <div class="pcard__foot">
                <img src="assets/img/f/6edb9e0d.webp" alt="Panda" width="123" height="81" loading="lazy">
                <a class="icon-sq" href="project.html" aria-label="View project"><svg aria-hidden="true"><use href="assets/img/icons.svg#i-arrow"/></svg></a>
              </div>
            </div>
